<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
  </head>
  <body>
    <link rel="stylesheet" href="css/modelo.css" />

    <optgroup label="Hospedagem">
      <option value="102">Hotel New Tokyo</option>
    </optgroup>
    <optgroup label="Academia">
      <option value="102">David Academia</option>
    </optgroup>
  </body>
</html>
